
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<main>
    <div class="usuarios-admin">
        <h1 class="mt-4">Gerenciamento de Usuarios</h1>
        <div class="input-group col-md-5 mb-3 mt-5 p-0">
            <input type="search" id="filtro-tabela" class="form-control marg-usuario" placeholder="Pesquise pelo nome">
        </div>

        <img class="spinner m-3" src="~/img/Spinner.gif" />

        <!-----Tabela de Usuarios----->
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped table-dark">
                <thead class="thead">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in ViewBag.Usuarios)
                    {
                        <tr id="usuario@(usuario.IdUsuario)">
                            <th scope="row">@usuario.IdUsuario</th>
                            <td class="info-nome">@usuario.NomeCompleto</td>
                            <td>@usuario.CPF</td>
                            <td>@usuario.DataNascimento</td>
                            <td>@usuario.Telefone</td>
                            <td class="d-flex justify-content-center"><button onclick="Excluir(@usuario.IdUsuario);" class="btn btn-danger">X</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr>
        <p class="msg-erro text-danger">Não foi possivel excluir, tente novamente!</p>
        <p class="msg-done text-success">Salvo com sucesso!</p>
        <!-----Form Usuario----->
        <form method="post">
            <div class="form-row marg-usuario">
                <div class="form-group col-md-12">
                    <label for="NomeCompleto">Nome Completo</label>
                    <input name="NomeCompleto" type="text" class="form-control" id="NomeCompleto"
                           placeholder="Exemplo: Pedro Henrique Eifler" required>
                </div>
            </div>
            <div class="form-row marg-usuario">
                <div class="form-group col-md-6">
                    <label for="CPF">CPF</label>
                    <input name="CPF" type="text" class="form-control" id="CPF" placeholder="Exemplo: XXX-XXX-XXX-XX" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="Telefone">Telefone</label>
                    <input name="Telefone" type="text" class="form-control" id="Telefone" placeholder="Exemplo: (XX) XXXX-XXXX" required>
                </div>
            </div>
            <div class="form-row marg-usuario">
                <div class="form-group col-md-12">
                    <label for="DataNascimento">Data de Nascimento</label>
                    <input name="DataNascimento" type="date" class="form-control" id="DataNascimento" required>
                </div>
            </div>
            <div class="marg-usuario mt-2">
                <button formaction="/AdminUsuario/Adicionar" type="submit" class="btn btn-success">Cadastrar</button>
                <button type="submit" class="btn btn-warning">Editar</button>
            </div>
        </form>
    </div>
</main>

<script>
    function Excluir(id) {
        $(".spinner").toggle();

        var url = "@Url.Action("Excluir", "AdminUsuario")";
        $.post(url, { id: id }, atualiza)
            .fail(function () {
                $(".msg-erro").toggle();
                setTimeout(function () {
                    $(".msg-erro").toggle();
                }, 2000);
            })

            .always(function () {
                $(".spinner").toggle();
            });
    }

    function atualiza(resposta) {
        console.log(resposta)
        var tr = $("#usuario" + resposta.IdUsuario)
        tr.fadeOut(400, function () { tr.remove(); });
    }
</script>


