<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--fontawsome-->
    <link href="~/fontawesome/css/all.css" rel="stylesheet">
    <link href="~/fontawesome/js/all.js" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <!----Header---->
    <header>
        <!----Primeira Barra---->
        <div id="navbar-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark d-flex bd-highlight">
                <ul class="navbar-nav p-2 flex-grow-1 bd-highlight">
                    <li><a href="#" class="nav-link active">Vendas</a></li>
                    <li><a href="#" class="nav-link">Aluguel</a></li>
                </ul>

                @if (ViewBag.SessionLogin != null)
                {
                    if (ViewBag.SessionLogin.TpUsuario == "Admin")
                    {
                        <div class="dropdown dropleft">
                            <button class="btn btn-outline-light dropdown-toggle btn-sm ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/adminProduto">Administrar</a>
                                <a class="dropdown-item" href="/Produtos/Carrinho">Meus Pedidos</a>
                                <a class="dropdown-item" href="#">Configuracao</a>
                                <hr />
                                <a class="dropdown-item" onclick="Session.Remove(SessionLogin)">Sair</a>
                            </div>
                        </div>
                        <label class="text-white m-2">Bem Vindo @ViewBag.SessionLogin.Usuario.NomeCompleto!</label>
                    }
                    else
                    {
                        <label class="text-white m-2">Bem Vindo @ViewBag.SessionLogin.Usuario.NomeCompleto!</label>

                        <div class="dropdown dropleft">
                            <button class="btn btn-outline-light dropdown-toggle btn-sm ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Produtos/Carrinho">Meus Pedidos</a>
                                <a class="dropdown-item" href="#">Configuracao</a>
                                <hr />
                                <a class="dropdown-item" href="#">Sair</a>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <ul class="navbar-nav p-2 bd-highlight">
                        <li><a href="/Login" class="nav-link">Login</a></li>
                        <li><a href="/Cadastro" class="nav-link">Cadastrar</a></li>
                    </ul>
                }
            </nav>
        </div>


        <!----Segunda Barra---->
        <div id="navbar-2">
            <nav class="navbar navbar-expand-xl align-items-stretch">

                <nav class="navbar navbar-expand-xl navbar-dark d-flex flex-row bd-highlight bg-dark ">


                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle ml-3 botao-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu ml-3 esconde-dropdown" aria-labelledby="dropdownMenuButton">
                            @foreach (var departamento in ViewBag.Departamentos)
                            {
                                <a href="#" class="nav-link border-bottom border-top">@departamento.Genero</a>
                            }

                        </div>
                    </div>
                    <h1><a class="navbar-brand flex-grow-1 bd-highlight ml-4" href="/Home">Loja Virtual</a></h1>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-5 navbar-cadastro">
                            @foreach (var departamento in ViewBag.Departamentos)
                            {
                                <li><a href="#" class="nav-link">@departamento.Genero</a></li>
                            }
                        </ul>
                    </div>
                    <form class="form-inline my-2 my-lg-0 bd-highlight">
                        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <div class="cart-box bd-highlight m-2 mr-4">
                        <a href="/Produtos/Carrinho" class="btn cart-btn"><i class="fas fa-shopping-cart text-white"></i></a>
                    </div>
                </nav>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="position-relative" style="float: none">
        <div class="container">
            <div class="row text-center text-dark">
                <div class="col-md-3">
                    <ul class="nav flex-column">
                        <h3>Institucional</h3>
                        <li class="nav-link">Sobre a Loja</li>
                        <li class="nav-link">Trabalhe Conosco</li>
                        <li class="nav-link">Seja nosso Parceiro</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav flex-column">
                        <h3>Ajuda</h3>
                        <li class="nav-link">Entregas</li>
                        <li class="nav-link">Pagamentos</li>
                        <li class="nav-link">Devolucao</li>
                        <li class="nav-link">Cancelamento</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav flex-column">
                        <h3>Politica</h3>
                        <li class="nav-link">Regulamento</li>
                        <li class="nav-link">Politica de Provacidade</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Redes Sociais</h3>
                    <ul class="nav redes-sociais d-flex justify-content-around">
                        <li class="facebook"><a href="#"></a><i class="fab fa-facebook-square"></i></li>
                        <li class="instagram"><a href="#"></a><i class="fab fa-instagram"></i></li>
                        <li class="twitter"><a href="#"></a><i class="fab fa-twitter"></i></li>
                        <li class="youtube"><a href="#"></a><i class="fab fa-youtube"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <img class="position-absolute nuvem-1" src="/img/Nuvem-1.png">
        <img class="position-absolute nuvem-2" src="/img/Nuvem-2.png">
        <img class="position-absolute nuvem-3" src="/img/Nuvem-3.png">
        <img class="position-absolute nuvem-4" src="/img/Nuvem-4.png">
    </footer>

    <!--Script-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/PassaParaCarrinho.js"></script>
    <script src="~/Scripts/Editar.js"></script>

    <script>
        $("label a").click(function CVV(event) {
            event.preventDefault();
            $(".img-cvv img").fadeToggle();
        });
    </script>
</body>

</html>
