@model LojaVirtual.Models.Produto
@{
    ViewBag.Title = "Loja Virtual | Detalhes";
    Layout = "~/Views/Shared/LayoutPadrao.cshtml";
}

<main class="container">
    <div class="produto-detalhes row">
        <div class="img-detalhes col-md-6">
            <img src="~/img/@Model.Imagem" />
        </div>

        <div class="detalhes col-md-6">
            <h2>@Model.Nome</h2>
            <br />
            <label>R$ @Model.Valor</label>
            <br />
            <p>@Model.Descricao</p>
            <br />
            <a onclick="PassarCarrinho('@Model.Imagem, @Model.Nome, @Model.Valor, @Model.IdProduto')" href="/Produtos/Carrinho">
                <button type="button" class="btn btn-success btn-lg">Adicionar ao Carrinho <i class="fas fa-shopping-cart"></i></button>
            </a>
        </div>
        
    </div>

    </main>

    <hr class="w-100"/>

    <main class="container">
        <div class="mt-5 mb-5">
            <h3>Ficha Técnica</h3>

            @foreach (var ficha in ViewBag.Ficha)
            {
                if (ficha.Produtos.IdProduto == Model.IdProduto)
                {
                    <label><b>@ficha.Ficha: </b></label>
                    <label>@ficha.Conteudo</label><br />
                }
            }
        </div>
    </main>



