
@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<main>
    <div class="usuarios-admin">
        <h1 class="mt-4">Gerenciamento de Produtos</h1>
        <div class="input-group col-md-5 mb-3 mt-5 p-0">
            <input type="search" id="filtro-tabela" class="form-control" placeholder="Pesquise pelo nome">
        </div>

        <img class="spinner m-3" src="~/img/Spinner.gif" />

        <!-----Tabela de Produtos----->
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped table-dark">
                <thead class="thead">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Nome do Produto</th>
                        <th scope="col">Imagem</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produto in ViewBag.Produtos)
                    {
                        <div class="produto">
                            <tr id="produto@(produto.IdProduto)">
                                <th scope="row">@produto.IdProduto</th>
                                <td>@produto.SKU</td>
                                <td class="info-nome">@produto.Nome</td>
                                <td>@produto.Imagem</td>
                                <td class="d-flex justify-content-center"><button onclick="Excluir(@produto.IdProduto);" class="btn btn-danger d-flex justify-content-center">X</button></td>
                            </tr>
                        </div>
                    }
                </tbody>
            </table>
        </div>
        <hr>

        <p class="msg-erro text-danger">Não foi possivel excluir, tente novamente!</p>
        <p class="msg-done text-success">Salvo com sucesso!</p>
        <!-----Form Usuario----->
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="Nome">Nome do Produto</label>
                    <input name="Nome" type="text" class="form-control"
                           placeholder="Exemplo: Calca Rosa" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="SKU">SKU</label>
                    <input name="SKU" type="text" class="form-control" placeholder="Exemplo: 001" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="Imagem">Imagem</label>
                    <input name="Imagem" type="text" class="form-control" placeholder="Exemplo: src='~/img/Calca-1.jpg'">
                </div>
            </div>
            <div class="mt-2">
                <button formaction="/AdminProduto/Adicionar" type="submit" class="btn btn-success">Cadastrar</button>
                <button type="submit" class="btn btn-warning">Editar</button>
            </div>
        </form>
    </div>
</main>

<script>

    function Excluir(id) {
        
        var url = "@Url.Action("Excluir", "AdminProduto")";
        $.post(url, { id: id }, atualiza)
            .fail(function () {
                $(".msg-erro").toggle();
                setTimeout(function () {
                    $(".msg-erro").toggle();
                }, 2000);
            })
            
    }

    function atualiza(resposta) {
        console.log(resposta)
        var tr = $("#produto" + resposta.IdProduto)
        tr.fadeOut(400, function () { tr.remove(); });
    }
</script>



